---
import Title from "./Title.astro";
---

<section
  class="animate-fade-in animate-delay-500 mt-10 mx-auto flex flex-col justify-center items-center text-center text-black"
>
  
</section>

<div class="container mx-auto px-4 py-8">
    
  <h2 class="text-2xl font-bold mb-6 text-purple-600">
    <Title title="resultados Sábado 12 de octubre 2024" />
  </h2>
  <p class="mb-4 text-gray-700">
    <strong>F:</strong> Femenino &nbsp;&nbsp;|&nbsp;&nbsp; <strong>M:</strong>
    Masculino
  </p>

  <div class="overflow-x-auto max-w-screen-lg mx-auto">
    <table class="min-w-full bg-white shadow-lg rounded-lg">
      <thead>
        <tr>
          <th
            class="py-3 px-4 bg-purple-500 text-white text-left text-lg md:text-xl"
            >Equipo</th
          >
          <th
            class="py-3 px-4 bg-purple-500 text-white text-center text-lg md:text-xl"
            >Marcador</th
          >
          <th
            class="py-3 px-4 bg-purple-500 text-white text-left text-lg md:text-xl"
            >Equipo</th
          >
          <th
            class="py-3 px-4 bg-purple-500 text-white text-center text-lg md:text-xl"
            >Categoría</th
          >
        </tr>
      </thead>
      <tbody>
        <tr class="odd:bg-gray-50 even:bg-white hover:bg-gray-100">
          <td class="py-3 px-2 md:px-4 lg:px-6 border-b text-gray-900 font-bold"
            >4 A Ordea</td
          >
          <td
            class="py-3 px-2 md:px-4 lg:px-6 border-b text-center text-gray-700"
            >12 - 40</td
          >
          <td class="py-3 px-2 md:px-4 lg:px-6 border-b text-gray-900 font-bold"
            >1 A Wasps</td
          >
          <td
            class="py-3 px-2 md:px-4 lg:px-6 border-b text-center text-blue-600 italic"
            >F</td
          >
        </tr>
        <tr class="odd:bg-gray-50 even:bg-white hover:bg-gray-100">
          <td class="py-3 px-2 md:px-4 lg:px-6 border-b text-gray-900 font-bold"
            >2 S y C</td
          >
          <td
            class="py-3 px-2 md:px-4 lg:px-6 border-b text-center text-gray-700"
            >58 - 26</td
          >
          <td class="py-3 px-2 md:px-4 lg:px-6 border-b text-gray-900 font-bold"
            >3 Panteras</td
          >
          <td
            class="py-3 px-2 md:px-4 lg:px-6 border-b text-center text-red-600 italic"
            >M</td
          >
        </tr>
      </tbody>
    </table>
  </div>
</div>
