---
import { SPONSORS } from "@/consts/sponsors"
---
<section class="mt-20">
    <div class="flex justify-center items-center gap-x-4">
        <img src={`/babybaloncesto.svg`} alt="Image 1" class="w-24 h-1/6">
        <img src={`/logoFunes.webp`} alt="Image 2" class="w-10 h-1/6">
        <img src={`/Fenix.webp`} alt="Image 3" class="w-10 h-1/6">
        <img src={`/Sacha.webp`} alt="Image 4" class="w-10 h-1/6">
        <img src={`/Minerales.webp`} alt="Image 5" class="w-16 h-1/6">
    </div>
    <div class="flex justify-center gap-1">
        <img src={`/cauca.webp`}alt="Image 6" class="w-28 h-1/6">
        <img src="jamez.webp" alt="Image 1" class="w-36 h-1/6">
        <img src="coacremat.webp" alt="Image 2" class="w-28 h-1/6">
    </div>
    <h2
    class="text-center text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
    >
    Zonal BABY BALONCESTO Nariño,<br>
    Ipiales, octubre 11 al 14 de 2024 <br>
    CLASIFICATORIO AL ZONAL SUROCCIDENTE DE COLOMBIA <span class="font-semibold" >POPAYÁN CAUCA 2024  </span> <br>
    <span class="font-semibold" >CATEGORIA: </span> 2011-2012-2013 <span class="font-semibold" >RAMA: </span> FEMENINO MASCULINO <br>
    IPIALES, OCTUBRE 11 AL14 DE 2024<br>
    </h2>
</section>