---
import { RES_TEAMS } from "@/consts/resTeams";
import Title from "@/components/Title.astro";
import Cuartos from "@/components/Cuartos.astro";
import Subtitle from "@/components/Subtitle.astro";
import SubtitleFooter from "@/components/SubtitleFooter.astro";
import TabladeResultados from "./TabladeResultados.astro";
import ProgramacionTorneo from "./ProgramacionTorneo.astro";
import ResultadosEliminatorias from "./ResultadosEliminatorias.astro";

let teams = Array(16).fill(null);
RES_TEAMS.forEach((team) => {
  teams[Number(team.id) - 1] = team;
});
---

<section>
  <h2
    class="py-3 text-center font-bold text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
  >
    <span
      class="animate-fade-in animate-delay-300
  uppercase text-white bg-black px-6 mb-9 font-medium"
    >
      Tablas de Grupos
    </span>
  </h2>

  <div
    class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900"
  >
    <Subtitle />
    <div class="container mx-auto px-4 py-8">
      <!-- Tabla de Grupos Femeninos -->
      <h2 class="text-2xl font-bold mb-6 text-blue-600 text-center">
        Tabla de Grupos Rama Femenino
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
        <!-- Grupo A -->
        <div class="overflow-x-auto">
          <table class="min-w-full bg-white shadow-lg rounded-lg">
            <thead>
              <tr>
                <th class="py-3 px-4 bg-blue-500 text-white text-left"
                  >Posición</th
                >
                <th class="py-3 px-4 bg-blue-500 text-white text-left"
                  >Grupo A</th
                >
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-3 px-4 border-b text-center text-gray-700">1A</td>
                <td class="py-3 px-4 border-b text-gray-700">Wasps</td>
              </tr>
              <tr>
                <td class="py-3 px-4 border-b text-center text-gray-700">2A</td>
                <td class="py-3 px-4 border-b text-gray-700">Fénix</td>
              </tr>
              <tr>
                <td class="py-3 px-4 border-b text-center text-gray-700">3A</td>
                <td class="py-3 px-4 border-b text-gray-700">Milenium</td>
              </tr>
              <tr>
                <td class="py-3 px-4 text-center text-gray-700">4A</td>
                <td class="py-3 px-4 text-gray-700">Ordea</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Grupo B -->
        <div class="overflow-x-auto">
          <table class="min-w-full bg-white shadow-lg rounded-lg">
            <thead>
              <tr>
                <th class="py-3 px-4 bg-green-500 text-white text-left"
                  >Posición</th
                >
                <th class="py-3 px-4 bg-green-500 text-white text-left"
                  >Grupo B</th
                >
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-3 px-4 border-b text-center text-gray-700">1B</td>
                <td class="py-3 px-4 border-b text-gray-700">Power's</td>
              </tr>
              <tr>
                <td class="py-3 px-4 border-b text-center text-gray-700">2B</td>
                <td class="py-3 px-4 border-b text-gray-700">Atenas</td>
              </tr>
              <tr>
                <td class="py-3 px-4 border-b text-center text-gray-700">3B</td>
                <td class="py-3 px-4 border-b text-gray-700">Panteras</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Tabla de Grupo Masculinos -->
      <h2 class="text-2xl font-bold mt-10 mb-6 text-red-600 text-center">
        Tabla de Grupo Rama Masculino
      </h2>
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white shadow-lg rounded-lg">
          <thead>
            <tr>
              <th class="py-3 px-4 bg-red-500 text-white text-left">Posición</th
              >
              <th class="py-3 px-4 bg-red-500 text-white text-left">Equipo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-3 px-4 border-b text-center text-gray-700">1</td>
              <td class="py-3 px-4 border-b text-gray-700">Champagnat</td>
            </tr>
            <tr>
              <td class="py-3 px-4 border-b text-center text-gray-700">2</td>
              <td class="py-3 px-4 border-b text-gray-700">S y C</td>
            </tr>
            <tr>
              <td class="py-3 px-4 border-b text-center text-gray-700">3</td>
              <td class="py-3 px-4 border-b text-gray-700">Panteras</td>
            </tr>
            <tr>
              <td class="py-3 px-4 text-center text-gray-700">4</td>
              <td class="py-3 px-4 text-gray-700">Berchos</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <ResultadosEliminatorias />

    

    <TabladeResultados />

    <SubtitleFooter />
  </div>



  
</section>

<section class="text-right">
  <div class="text-primary font-bold">Oscar Armando Bolaños Castro</div>
  <div class="text-primary">
    Coordinador BABY FÚTBOL Sur Occidente de Colombia
  </div>
  <a href="https://wa.me/573183773718"> ☎️Móvil 3183773718 </a>
</section>
