---
title: "Resultados de Torneo"
layout: "../layouts/BaseLayout.astro"
import Title from "./Title.astro"
---

<div class="container mx-auto px-4 py-8">
  <!-- Título y fecha -->
  <h2 class="text-xl font-bold text-gray-800 mb-4">Lunes 14 de octubre 2024</h2>
  <div class="text-center mb-6">    
  </div>

  <!-- Tabla de resultados -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- Semifinal Femenino -->
    <div class="bg-white shadow-md rounded-lg p-4 overflow-x-auto">
      <h2 class="text-lg font-bold mb-4">Semifinal Femenino</h2>
      <table class="w-full text-left">
        <thead>
          <tr class="bg-gray-100">
            <th class="py-2 px-4">Hora</th>
            <th class="py-2 px-4">Equipo</th>
            <th class="py-2 px-4">Marcador</th>
            <th class="py-2 px-4">Equipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-2 px-4">08:00 a.m.</td>
            <td class="py-2 px-4">Wasps</td>
            <td class="py-2 px-4">24 - 22</td>
            <td class="py-2 px-4">Atenas</td>
          </tr>
          <tr>
            <td class="py-2 px-4">09:10 a.m.</td>
            <td class="py-2 px-4">Power's</td>
            <td class="py-2 px-4">40 - 16</td>
            <td class="py-2 px-4">Fénix</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Primer y Segundo Puesto Masculino -->
    <div class="bg-white shadow-md rounded-lg p-4 overflow-x-auto">
      <h2 class="text-lg font-bold mb-4">Primer y Segundo Puesto Masculino</h2>
      <table class="w-full text-left">
        <thead>
          <tr class="bg-gray-100">
            <th class="py-2 px-4">Hora</th>
            <th class="py-2 px-4">Equipo</th>
            <th class="py-2 px-4">Marcador</th>
            <th class="py-2 px-4">Equipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-2 px-4">11:10 a.m.</td>
            <td class="py-2 px-4">Champagnat</td>
            <td class="py-2 px-4">27 - 36</td>
            <td class="py-2 px-4">Berchos</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Tercero y Cuarto Puesto Femenino -->
    <div class="bg-white shadow-md rounded-lg p-4 overflow-x-auto">
      <h2 class="text-lg font-bold mb-4">Tercero y Cuarto Puesto Femenino</h2>
      <table class="w-full text-left">
        <thead>
          <tr class="bg-gray-100">
            <th class="py-2 px-4">Hora</th>
            <th class="py-2 px-4">Equipo</th>
            <th class="py-2 px-4">Marcador</th>
            <th class="py-2 px-4">Equipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-2 px-4">12:20 a.m.</td>
            <td class="py-2 px-4">Atenas</td>
            <td class="py-2 px-4">18 - 20</td>
            <td class="py-2 px-4">Fénix</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Primer y Segundo Puesto Femenino -->
    <div class="bg-white shadow-md rounded-lg p-4 overflow-x-auto">
      <h2 class="text-lg font-bold mb-4">Primer y Segundo Puesto Femenino</h2>
      <table class="w-full text-left">
        <thead>
          <tr class="bg-gray-100">
            <th class="py-2 px-4">Hora</th>
            <th class="py-2 px-4">Equipo</th>
            <th class="py-2 px-4">Marcador</th>
            <th class="py-2 px-4">Equipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-2 px-4">01:30 a.m.</td>
            <td class="py-2 px-4">Wasps</td>
            <td class="py-2 px-4">25 - 34</td>
            <td class="py-2 px-4">Power's</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>